* {
  margin: 0px;
  padding: 0px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1rem;
}
.body {
  background-color: rgba(184, 228, 236, 0.3);
  height: 100%;
}

.secondBody {
  background-color: rgba(184, 228, 236, 0.3);
  height: 100vh;
}

.container {
  border-radius: 20px;
  background-color: white;
  padding: 1rem;
  height: 100%;
}

.header {
  font-family: "Moon Dance", cursive;
  font-weight: bold;
  font-size: 3rem;
  background-color: rgba(97, 193, 248, 0.6);
  margin: 0px;
  border-radius: 15px;
  padding: 0.4rem;
}

.existHeader {
  font-family: "Moon Dance", cursive;
  font-weight: bold;
  font-size: 3rem;
  background-color: rgba(185, 6, 6, 0.63);
  margin: 0px;
  border-radius: 15px;
  padding: 0.4rem;
}

.existBody {
  background-color: rgba(252, 154, 97, 0.3);
  height: 100vh;
}

button {
  border-radius: 15px !important;
  margin: 1.3rem !important;
  padding: 0.6rem !important;
}

.error {
  color: red;
  padding-bottom: 1rem;
  padding-top: 0.3rem;
  margin: 0px;
  background-color: white;
  height: 10px;
}
